.logo {
  float: left;
  height: 40px;
}

.header {
  width: 100%;
  background-color: rgb(260, 260, 260);
  background-color: rgba(260, 260, 260, 0.5);
  overflow: auto;
  height: 40px;
  position: fixed;
  z-index: 3;
}

.home {
  height: 100%;
  display: inline-block;
  border: none;
  
}

.filtersSectionToggle {
  width: 100%;
  height: 100%;
  border: none;
  float: left;
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
  color: lightgrey;
}
  .filtersSectionToggle:hover {
    background-image: linear-gradient(to top, #a3b3ed 0%, #6971c7 100%);
  }

.headerSection {
  float: left;
  height: 40px;;
  width: 80px;
}

.tenderIdInput {
  height: 36px;
  margin-left: 30px;
  border: 1px solid lightgrey;
  background-color: white;
  float: left;
  border-radius: 3px 0px 0px 3px;
}

.bthAddTender{
  height:40px;
  border: none;
  background-image: linear-gradient(to bottom, #0ba360 0%, #3cba92 60%);
}

.bthAddTender:hover {
  background-image: linear-gradient(to bottom, #0ba360 0%, #3cba92 60%);
}

.headerSectionRight{
	float:right;
	height:100%;
  background-color: rgb(260,260,260);
	background-color: rgba(260,260,260, 0.5);
	border-right: 1px solid darkgrey;
	text-align: center;
}
.headerSec{
  display: inline-block;
}
