$backColor :  rgba(222, 248, 206, 0.616);

.button  {
    font-size: 16px;
    height: 30px;
    width: 100%;
    border: none;
    background-color: $backColor;
}
.main  {
    height: 80;
    width: 200
}
.wrapper  {
    margin-top: 40px;
    display: inline-block;
    width: 45%;
    border: 1px solid lightgrey;
    margin: 2px
}
.container  {
    overflow-y: auto; 
    visibility: visible;
    background-color: $backColor;
    position: absolute;
    height: 200px;
    width: 100px;
    margin: -110px 0
}
.minute  {
    overflow-y: auto; 
    visibility: visible;
    background-color: $backColor;
    position: absolute;
    height: 200px;
    width: 100px;
    margin: -110px 0
}